{% extends 'www/header.html' %}
{% load staticfiles %}	

{% block title %}
CHOICES
{% endblock %}

{% block bodystyle %}
background: url({% static '/img/bg2.jpg' %}) no-repeat fixed; background-size: 100%;
{% endblock %}

{% block body %}


	<!-- Section: intro -->
    <section id="intro" class="intro" style="background: rgba(8, 111, 148, 0.5);">
	
		<div class="slogan">
			<h2>Choix</h2>
			<h4>Quiz: {{ quiz.quiz_subject }}</h4>
			<h4>Question: {{ question.question_text }}</h4>
		</div>

		<div class="page-scroll">
			<a href="#choice" class="btn btn-circle">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div>
    </section>
	<!-- /Section: intro -->

	<!-- Section: choice -->
    <section id="choice" class="home-section bg-gray">
		
		<div class="heading-about text-center">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>Choix</h2>
					<h4>{{ question.quiz.quiz_subject }} - {{ question.question_text }}</h4><br>
					<i class="fa fa-2x fa-angle-down"></i>

					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">
		<div class="row">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
		{% if error_message %}
			<div class="row wow bounceInUp" data-wow-delay="0.2s">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="alert alert-danger fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Opération échouée !</strong> {{ error_message }}
					</div>
				</div>
			</div>
		{% elif success %}
			<div class="row wow bounceInUp" data-wow-delay="0.2s">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="alert alert-success fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Opération réussie !</strong> {{ success }}.
					</div>
				</div>
			</div>
		{% endif %}
		<div class="row wow bounceInLeft" data-wow-delay="0.4s">
		<a href="{% url 'www:question' question.quiz.id %}#question" class="btn btn-info" style="border-radius: 20px !important;"><span class="glyphicon glyphicon-circle-arrow-left"></span> returner aux questions</a>
			<a href="{% url 'www:addchoice' question.id %}#add" class="btn btn-info" style="border-radius: 20px !important;"><span class="glyphicon glyphicon-plus"></span> Ajouter un choix</a>
		</div><br>
        <div class="row wow bounceInDown" data-wow-delay="0.2s">
        <table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Choix</th>
					<th>Etat</th>
					<th style="width: 270px;"></th>
				</tr>
			</thead>
			<tbody>
			{% for c in choice %}

					<tr class="wow bounceInRight" data-wow-delay="0.2s">
						<td>{{ c.id }}</td>
						<td>{{ c.choice_text }}</td>
						<td>{{ c.is_true }}</td>
						<td>
							<a href="{% url 'www:editchoice' question.id c.id %}#edit">
								<button class="btn btn-info">
									<span class="glyphicon glyphicon-edit"></span> modifier
								</button>
							</a>
							<a href="{% url 'www:deletechoice' question.id c.id %}#choice">
								<button class="btn btn-danger">
									<span class="glyphicon glyphicon-trash"></span> supprimer
								</button>
							</a>
						</td>
					</tr>

			{% endfor %}
			</tbody>
		</table>
        </div>
		</div>
	</section>
	<!-- /Section: choice -->

{% endblock %}