{% extends 'www/header.html' %}
{% load staticfiles %}

{% block title %}
ADD
{% endblock %}

{% block addquiz %}
active
{% endblock %}

{% block bodystyle %}
background: url({% static '/img/bg2.jpg' %}) no-repeat fixed; background-size: 100%;
{% endblock %}

{% block body %}


	<!-- Section: intro -->
    <section id="intro" class="intro" style="background: rgba(8, 111, 148, 0.5);">
	
		<div class="slogan">
			<h2>Ajouter un quiz</h2>
			<h4>Ici vous pouvez ajouter des quiz.</h4>
		</div>
		<div class="page-scroll">
			<a href="#add" class="btn btn-circle">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
		</div>
    </section>
	<!-- /Section: intro -->

	<!-- Section: add -->
    <section id="add" class="home-section bg-white">
		<div class="heading-about text-center">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow bounceInDown" data-wow-delay="0.4s">
					<div class="section-heading">
					<h2>Ajouter un Quiz</h2>
					<i class="fa fa-2x fa-angle-down"></i>

					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div class="container">

		<div class="row wow bounceInUp" data-wow-delay="0.2s">
			<div class="col-lg-2 col-lg-offset-5">
				<hr class="marginbot-50">
			</div>
		</div>
		{% if error_message %}
			<div class="row wow bounceInUp" data-wow-delay="0.2s">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="alert alert-danger fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Opération échouée !</strong> {{ error_message }}
					</div>
				</div>
			</div>
		{% elif success %}
			<div class="row wow bounceInUp" data-wow-delay="0.2s">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="alert alert-success fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Opération réussie !</strong> {{ success }}.
					</div>
				</div>
			</div>
		{% endif %}

        <div class="row">
        <div class="col-lg-12">
            <div class="boxed-grey">
			<!-- Edited -->
			<form method="post"  id="contact-form" class="form-group" action="{% url 'www:addquiz_confirm' %}#quiz">
			{% csrf_token %}
			<div class="row wow bounceInRight" data-wow-delay="0.2s">
				<div class="col-sm-3">
					<label for="user">Créer par :</label><br>
				</div>
				<div class="col-sm-9">
					<select name="user" id="user" class="form-control" required="">
						<option value="{{ user.id }}">{{ user.username }}</option>
					</select>
				</div>
			</div><br>
			<div class="row wow bounceInLeft" data-wow-delay="0.2s">
				<div class="col-sm-3">
					<label for="sub">Sujet :</label><br>
				</div>
				<div class="col-sm-9">
					<input type="text" name="subject" id="sub" class="form-control" placeholder="quiz's subject" maxlength="25" required="" autofocus="">
				</div>
			</div><br>
			<div class="row wow bounceInRight" data-wow-delay="0.2s">
				<div class="col-sm-12" align="center">
					<a href="{% url 'www:myquizs' %}#quiz">
						<button type="button" name="annuler" class="btn btn-info">annuler</button>
					</a>
					<button type="submit" name="submit" class="btn btn-primary">ajouter</button>
				</div>
			</div>
				
			</form>
			</div>
		</div>
        </div>		
		</div>
	</section>
	<!-- /Section: add -->


{% endblock %}